html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* .container-fluid {
    width: 100vw;
} */


.hero-carousel-inner {
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.hero-carousel-inner img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

/* Source: https://stackoverflow.com/a/44463901/4595147 */
.hero-carousel-inner:after {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:linear-gradient(rgba(0, 0, 0, 0.639), rgba(0, 0, 0, 0));
}


#nav-fluid > .navbar > .fas, .fa-cat:hover {
    transform:rotate(10deg);
}

#nav-fluid {
    position: absolute;
    top: 0px;
    z-index: 100;
}

#nav-fluid > nav > div > h1 > a {
    font-size: 1.8rem;
}

#nav-fluid > .navbar > .container-fluid > h1 {
    /* font-size: 1.8vmax; */
    font-weight: 400;
    font-family: 'Kumbh Sans', sans-serif;
    /* why is this loading late? */
}

#nav-items li a {
    color: rgba(255,255,255,.7);
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    padding: 4px 8px;
    margin: 8px;
    transition: background-color 0.3s;
    border-radius: 10px;
}


#nav-items li a:hover {
    color: rgba(255,255,255);
    background-color: rgba(255,255,255,.1);
    border-radius: 10px;
    font-size: 1.5em;
}

div > .btn-primary, .btn-primary:visited > .submit-button {
    background-image: linear-gradient(-45deg, #0B44EF, #007dfa);
    box-shadow: 2px 2px 0 0 #9cb5ff9a;
    border: none;
    padding-left: 2em;
    padding-right: 2em;
}

.submit-hover:hover {
    opacity: 0.9;
    filter: saturate(4);
}

#booking-fluid {
    position: absolute;
    top: 35vh;
    right: 50px;
    width: 550px;
    height: auto;
    background-color: white;
    box-shadow: 3px 10px 19px -9px rgba(0,0,0,0.75);
    padding: 20px;
}

.divider {
    display: none;
    margin: 0;
}

#testimonial em {
    font-size: 0.8em;
}

#testimonial {
    background-color: rgb(247, 247, 247);
    padding: 40px;
    margin-bottom: 20px;
}

#testimonial a {
    color: gray;
    font-size: 1em;
    padding: 0;
}

.logo-grid {
    text-align: center;
}

.logo > img {
    width: 140px;
    padding: 1vh 0;
}

#about-images img {
    width: 100%;
    padding: 2px;
}

#about-content {
    font-size: 1em;
    padding: 10px 20px;
}

.image-hover:hover {
    opacity: 0.5;
}

.image-hover {
    transition: opacity 0.3s;
}

.carousel-inner img {
    width: 100%;
    height: auto;
}
/* when i add an anchor, this might have to target the anchor not the img */

/* #gallery > div > div > div > #gallery-carousel > ul > li {
} */

.gallery-carousel-inner {
    width: 100vw;
    /* height: 70vh; */
    height: 50vh;
    background-color: black;
    text-align: center;
}

.gallery-carousel-inner img {
    width: 100vw;
    /* height: 70vh; */
    height: 50vh;
    object-fit: contain;
}

.gallery-image {
    /* width: 23vw; */
    width: auto;
    height: 23vw;
    padding: 0.5em;
}

.square-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#contact #google-maps iframe{
    width: 100%;
    height: 55vh;
}

footer a {
    padding: 0px 10px;
    color: white;
    font-size: 3vmin;
}

#facebook a:hover {
    /* color: lightskyblue; */
    color: royalblue;
}

#tripadvisor a:hover {
    color: lightgreen;
}

#instagram a:hover {
    color: hotpink;
}

#yelp a:hover {
    color: red;
}

footer .footer-text {
    font-size: 1em;
    text-align: center;
    order: 1;
}

footer .up-icon {
    text-align: center;
    order: 2;
}

.up-icon a:hover {
    color: lightgray;
}

footer .social-icons {
    order: 3;
}

@media only screen and (max-width : 768px) {
    #bg-full {
        height: 50vh;
        position: relative;
        top: 60px;
    }

    .hero-carousel-inner img {
        height: 50vh;
        top: 60px;
    }

    .hero-carousel-inner {
        height: 50vh;
        top: 60px;
    }

    #nav-fluid {
        background-color: rgb(80, 80, 80);
        position: fixed;
        min-height: 60px;
    }


    #nav-fluid > nav > div > h1 > a {
        font-size: 1.4rem;
    }

    /* #nav-fluid .navbar {
        padding-top: 10px;
        padding-bottom: 10px;
    } */

    /* #nav-fluid .navbar-brand{
        margin-top: 5px;
        margin-bottom: 5px;
    } */



    #booking-fluid {
        position: relative;
        top: 0px;
        margin: 0px;
        left: 0px;
        width: 100vw;
        box-shadow: none;
        padding-bottom: 0;
      }

    /* LOOK INTO THIS! */
    .divider {
        display: block;
    }

    .logo > img {
        padding: 3vh 0;
    }

    #about-content {
        margin-top: 10px;
        font-size: 2vh;
    }

    #gallery {
        margin: 1em 0;
    }
}

@media only screen and (max-width : 768px) {
/* Up to iPad */
/* LOOK ABOVE, THERE IS ANOTHR 768 */

    footer .footer-text {
        order: 2;
    }

    footer .up-icon {
        order: 1;
    }

    footer .social-icons {
        order: 3
    }

    footer .fab {
        /* font-size: 4vmin; */
        font-size: 1.2em;
    }
}

@media only screen and (max-width : 375px) {
/* Up to iPhone X */
    footer .fab {
        font-size: 2em;
    }
}

/* To address issues with alignment on XR */
@media only screen and (max-width : 414px) {
    #booking-fluid #booking-form input{
        width: 250px;
    }
}