#bg-full {
    background: linear-gradient( rgba(0, 0, 0, 0.349), rgba(0, 0, 0, 0) ), url("https://i.imgur.com/e6BjfTJ.jpg") no-repeat left top;
    /* image url is temporary for the purposes of pushing to github, it will be a relative filepath eventually */
    background-size: cover;
    height: 100vh;
}

#nav-fluid {
    position: absolute;
    top: 0px;
}

#nav-fluid .navbar-brand {
    font-size: 2.5vmax;
}

.navbar a {
    font-size: 1.5em;
}

#booking-fluid {
    position: absolute;
    top: 35vh;
    right: 50px;
    width: 550px;
    height: auto;
    background-color: white;
    box-shadow: 3px 10px 19px -9px rgba(0,0,0,0.75);
    padding: 20px;
}

.divider {
    display: none;
    margin: 0;
}

#testimonial {
    background-color: rgb(247, 247, 247);
    padding: 40px;
    margin-bottom: 20px;
}

#testimonial a {
    color: gray;
}

#testimonial em {
    font-size: 0.8em;
}

.logo-grid {
    text-align: center;
}

.logo > img {
    width: 140px;
    padding: 1vh 0;
}

#about-images img {
    width: 100%;
    padding: 2px;
}

#about-content {
    font-size: 1em;
    padding: 10px 20px;
}

.image-hover:hover {
    opacity: 0.5;
}

.image-hover {
    transition: opacity 0.3s;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

.gallery-image {
    /* width: 23vw; */
    width: auto;
    height: 23vw;
    padding: 0.5em;
}

.square-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width : 768px) {
    #bg-full {
        height: 50vh;
        position: relative;
        margin-top: 7.5vh;
        /* This margin-top is temporary, try to find a better way */
    }

    #nav-fluid {
        background-color: rgb(80, 80, 80);
        position: fixed;
        z-index: 1;
    }

    #booking-fluid {
        position: relative;
        top: 0px;
        margin: 0px;
        left: 0px;
        width: 100vw;
        box-shadow: none;
        padding-bottom: 0;
      }

    .divider {
        display: block;
    }

    .logo > img {
        padding: 3vh 0;
    }

    #about-content {
        margin-top: 10px;
        font-size: 2vh;
    }

    #gallery {
        margin: 1em 0;
    }
}